fastapi
uvicorn[standard]
pydantic
pydantic[email]
# Database Dependencies
sqlalchemy
psycopg2-binary # PostgreSQL adapter
# Authentication Dependencies
python-jose[cryptography]
bcrypt==4.0.1
python-multipart